/* Open/Close Transition + Amendments
****************************************/

.ReactModal__Content {
    opacity: 0;
    .ui-panel-wrap {
        border: none;
        box-shadow: none;
    }
  }
  
.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 200ms;
}
  
.ReactModal__Content--before-close {
  opacity: 0;
}

.ReactModal__Overlay {
    z-index: 105;
}

/* Modal styles
****************************************/

h2 {
    margin-bottom: 1.5em;
    border-bottom: 2px solid rgb(53, 64, 73);
    padding-bottom: 1em;
}

.modal-form-wrap {
    .inactive-check {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input  {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
          }
          .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            display: none;
            position: absolute;
            content: "";
            transform: rotate(45deg);
          }
      }
      .inactive-check:hover {
          .checkmark {
            background-color: #ccc;
          }
      }
    .inactive-check {
        input:checked ~
        .checkmark {
            background-color: #2196F3;
        }
    }
    .inactive-check {
        input:checked ~
        .checkmark:after {
          display: block;
        }
    }
    #inactive {
        margin-right: 1em;
    }
    .jobs-input-group {
        .cntrl-link {
            font-size: 17px;
        }
        .modal-delete-btn {
            color: #666;
            margin: 12px 0;
            font-size: 18px;
            background: none;
            border: 2px solid #666;
            border-radius: 4px;
            transition: 0.3s all;
        }
        .modal-delete-btn:hover {
            color: $red;
            border: 2px solid $red;
            cursor: pointer;
        }
    }
}

.btn-wrap {
    text-align: right;
    margin: 7px 0;
    .modal-submit-btn {
        color: #fff;
        text-align: right;
        background-color: $lighterBlue;
        border: none;
        border-radius: 4px;
        padding: 7px;
        transition: 0.2s all;
        font-size: 1.3em;
    }
    .modal-submit-btn:hover {
        background-color: $base;
        cursor: pointer;
    }
    .modal-cancel-btn {
        display: inline-block;
        color: $lighterBlue;
        padding: 5px 5px 5px 1em;
        border-radius: 4px;
        transition: 0.3s all;
        border: none;
        background: none;
        font-size: 1.3em;
    }
    .modal-cancel-btn:hover {
        color: $base;
        cursor: pointer;
    }
    button:disabled {
        cursor: inherit;
        background-color: #ddd;
        pointer-events: none;
    }
}

/* Mobile styles
****************************************/

@media screen and (max-width: 1025px) {
    .ReactModal__Content {
        width: 95% !important;
    }
    .modal-inner {
        padding: 0;
    }
    .ui-panel-wrap {
        .modal-form-wrap {
            .jobs-input-group {
                .jobs-input-wrapper {
                    display: block;
                    width: 100%;
                }
                .jobs-dropdown {
                    width: 100%;
                    select {
                        height: auto;
                        border: 1px solid $textDark;
                    }
                }
                #jobs-notes {
                    width: 100%;
                }
            }
            .btn-wrap {
                font-size: 1.2em;
                padding-top: 0.3em;
                .modal-cancel-btn {
                    font-size: 1.2em;
                    background: none;
                }
            }
        }
    }
}