/* Profile
****************************************/

.profile-wrap {
    padding-top: 45px;
    .ui-info {
        text-align: left;
        padding: 0.5em 0;
        color: $uiHighlightText;
    }
}

.profile-header {
    text-align: left;
    font-size: 40px;
    padding: 10px 0;
}

.dashboard-wrap {
    width: 100%;
    margin: 45px 0;
    display: inline-block;
    justify-content: space-around;
    .dash-input-holder {
        display: block;
        padding: 12px 0;
        width: 60%;
        border-radius: 4px;
        input {
            text-align: left;
            margin: 0.5em 0 1em 0;
            font-size: 1.3em;
        }
        h3 {
            font-size: 26px;
            text-align: left;
            border-bottom: 1px solid black;
            padding: 7px 0;
            color: $textLight;
            margin-bottom: 1em;
        }
        h3:hover {
            cursor: pointer;
            color: $lighterBlue;
            border-bottom: 1px solid $lighterBlue;
        }
        .selected-input {
            color: $lighterBlue;
            border-bottom: 1px solid $lighterBlue;
        }
        button {
            width: auto;
            padding: 0.5em;
            text-align: left;
            font-size: 1.3em;
            display: block;
        }
        .login-form {
            label {
                text-align: left;
            }
            #reset-email {
                margin: 0;
            }
        }
    }
}

/* Responsive styles
****************************************/

@media screen and (max-width: 1025px) {
    .profile-header {
        margin: 80px 0 0 0;
    }
    .dashboard-wrap {
        .dash-input-holder {
            input {
                width: 150%;
            }
            button {
                width: 120%;
                text-align: center;
            }
            .ui-info {
                text-align: left;
            }
            h3:hover {
                cursor: initial;
                color: $textLight;
                border-bottom: 1px solid #000;
            }
            h3:active {
                color: $lighterBlue;
                border-bottom: 1px solid $lighterBlue;
            }
        }
    }
}
